In [1]:
#Now we'll learn how to work with excel files

In [2]:
"""
IMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!
"""

'\nIMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!\n'

In [2]:
import pandas as pd

In [7]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [8]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('Sheet1')

In [9]:
#Show!
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [10]:
#Now we know how to open various file types! Great!
#Next well learn about various DataFrame Techniques!